body {
	font-size: 15px;
}
.carte {
	border: 5px black solid;
	display: flex;
	justify-content: space-between;
	border-radius: 20px;
	background-color: #0b638b;
	height: 23rem;
	width: 90%;
	position: relative;
	/* padding: 5px; */
}

.gauche span {
	background-color: #fff;
	width: 10rem;
	height: 20rem;
}

div.gauche {
	/* border: 1px black solid; */
	width: 50%;
	height: 100%;
	color: #fff;
	font-size: larger;
	position: relative;
	display: flex;
	flex-direction: column;
}

.bateau {
	padding-left: 20px;
	display: flex;
	height: 100%;
	position: relative;
	flex-direction: column;
	flex-wrap: wrap;
}
.bateau > div {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

.bateau .valeur > p {
	width: 150px;
	height: 20px;
	background-color: #fff;
	color: black;
}

.bateau > div > p {
	padding: 5px;
	margin: 10px 0;
}

.personne {
	background-color: #fff;
	border-radius: 15px;
	margin: 10px;
	height: 90%;
}

.personne header {
	border-bottom: 1px solid black;
	font-size: large;
	display: flex;
	flex-wrap: wrap;
}

.personne > * {
	padding: 10px;
}
.personne header > div {
	width: 50%;
	height: 100%;
}

.personne header p {
	margin: 0;
}

#logo {
	width: 45%;
	height: auto;
	border-radius: 15px;
	border: 2px solid black;
}

h1 {
	color: #fff;
	font-size: x-large;
}

div.droite {
	font-size: larger;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px;
}

.personne {
	width: 100%;
	margin: 0;
	height: 100%;
	border: 1px red solid;
	display: flex;
	flex-direction: column;
}

.passagerInfo {
	width: 100%;
	height: 100%;
	display: flex;
}

.passagerInfo div {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: relative;
}

.passagerInfo div p {
	margin: 0px;
}

.qrcode {
	width: 100%;
	height: 25%;
	display: flex;
	justify-content: start;
	align-items: start;
	gap: 50%;
}

img#qrcodeImg {
	width: 40px;
	height: auto;
}
